.review {
  background-color: #3a3e51 !important;
  border-radius: 10px;
  padding: 10px;
  margin: 0.5em;

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;

  flex: 0 100px;
}

.review-movie-title {
  font-style: italic;
}

.review-data {
  text-wrap: wrap;
  border-right: solid rgb(182, 182, 182) thin;
  padding-right: 1em;
}

.review-text {
  margin-left: 1em;
}

.review-username {
  color: rgb(152, 217, 239);
  text-decoration: underline;
}

.review-list {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-content: start;
  width: 90%;
}

.review-likes {
  border: thin solid rgb(196, 198, 198);
}

.review-likes:hover {
  cursor: pointer;
}
