#api-quote-text {
  color: #8a8cff;
}

h2 {
  border-bottom: solid rgb(182, 182, 182) thin;
}

.form-control {
  margin: 0;
}

img {
  max-width: 400px;
  height: auto;
}

.movie-quote-movie {
  font-style: italic;
}

@media (max-height: 500px) {
  img {
    display: none;
  }

  #api-quote-text {
    display: none;
  }
}
